Package: practica2
Version: 1.0.0
Architecture: all
Maintainer: Galán <antoniogalanG15@gmail.com>
Depends: kolf (>= 1.20)
Section: devel
Priority: optional
Homepage: https://github.com/15Galan/mencion-430
Description: Ejemplo de paquete con dependencias.

