Package: hask2meetu
Version: 1.0.0
Architecture: all
Maintainer: Galán <antoniogalanG15@gmail.com>
Depends: ghc (>= 8.6.0)
Section: devel
Priority: optional
Homepage: https://github.com/15Galan/mencion-430
Description: Ejemplo de paquete con dependencias.
    Universidad de Málaga - Ingeniería Informática [MTI]
    Administración de Sistemas Operativos
    Práctica 2: Creación de un paquete Debian
    .
    Este programa escrito en Haskell ofrece una muestra de un
    inicio de conversación cordial, con el fin de satisfacer
    las necesidades sociales de los programadores que no pueden
    obtenerlas en el "Mundo Real".
    .
    "Glad to meet you" -> "Glad 2 meet U" -> "Hask(ell) 2 meet U".

